header > h1 {
    font-family: var(--fonte1);
    font-size: 4.5em;
    padding-top: 50px;
    font-variant: small-caps;
}

section > p {
    font-family: var(--fonte2);
    font-size: 1.8em;
    margin: 50px 15px;
    line-height: 2em;
}
